POSTGRES_PASSWORD=hydra
DSN=postgres://hydra:hydra@postgres:5432/hydra?sslmode=disable
HYDRA_SYSTEM_SECRET=   # openssl rand -hex 32
HYDRA_COOKIE_SECRET=   # openssl rand -hex 32
EMAIL_DOMAIN=example.com
OAUTH2_PROXY_CLIENT_ID=oauth2-proxy
OAUTH2_PROXY_CLIENT_SECRET=   # openssl rand -hex 16
OAUTH2_PROXY_COOKIE_SECRET=   # openssl rand -hex 16
